body{} 
h1{ 
	color:blue;
	text-align:center;
}
.f1{ 
	color:black;
	background:;
	background:brown;
	margin:auto; 
	content:center; 
	border-right:100px; 
	padding-right:40px;

}   
.fg{
	padding:5px;
} 
.f1 input{
	display:block; 
} 
.container{
	width:30%;
	margin:auto; 
	margin-right:30px
	margin:30px ; 
	border:20px;

}   
.f1 input[type="text"]{
	padding-right:80px;
}  
.F2{
	background:blue;
} 